<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Correo de Contacto</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 20px;
        }
        p,li {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1>Nuevo Correo de Contacto Recibido</h1>
    <h2>Información de contacto:</h2>
    <ul>
        <li>Nombre: <%= name %></li>
        <li>Telefono: <%= phone %></li>
    </ul>
   
</body>
</html>
